In [8]:
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [9]:
my_grades = ['B', 'C', 'B' , 'D']

In [10]:
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [12]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [13]:
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [14]:
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [15]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object